<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance ToDo List</title>
    <link rel="icon" type="image/x-icon" href="/images/Favicon/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="css/main.css">
    <style>

    </style>
</head>


<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/priority">Priority</a></li>
            <li><a href="/daily">Daily</a></li>
            <li><a href="/weekend">Weekend</a></li>
            <li><a href="/month">Month</a></li>
            <i class="fas fa-bars" id="iconBurger"></i>
        </ul>
    </nav>
    <div class="sideMenu">
        <ul>
            <li><i class="fas fa-times" id="iconCross"></i></li>
            <li class="li-in-sidebar"><a href="/">Home</a></li>
            <li class="li-in-sidebar"><a href="/priority">Priority</a></li>
            <li class="li-in-sidebar"><a href="/daily">Daily</a></li>
            <li class="li-in-sidebar"><a href="/weekend">Weekend</a></li>
            <li class="li-in-sidebar"><a href="/month">Month</a></li>
        </ul>
    </div>