<%- include('./partials/header'); %>
<!-- <h1>hom Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium dicta corporis dolore obcaecati in blanditiis, quidem, porro nobis animi iste, saepe impedit. e</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quis ullam odit qui. Provident ullam sint quasi porro cupiditate quia magnam facilis, nihil vitae distinctio recusandae ea repellat natus.</p> -->
<%- include('./partials/list'); %>
<%- include('./partials/footer'); %>